venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

*.env
*.env.*
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg-info/
.eggs/
*.egg

.idea/
.vscode/
*.swp

*.log

.DS_Store
*.sqlite3
*.db
*.bak
*.lock
instance/
htmlcov/
*.cover
*.coverage
*.coverage.*
.cache
nosetests.xml
coverage.xml
*.mypy_cache/
*.pytest_cache/
.tox/
dist/
build/
pip-wheel-metadata/
*.manifest
*.spec
.wsgi
*.log

.ipynb_checkpoints

test_*.pyc
tests/


*.tmp
*.temp
